.btn {
	cursor: pointer;
	display: inline-block;
	padding: 17px 26px;
	font-family: $inter;
	font-weight: 700;
	text-wrap: nowrap;
	font-size: 17px;
	color: #f9f9f9;
	background: transparent;
	border: none;
	border-radius: 18px;
	transition: $transitionAll;
	&__default {
		border: 1px $primary-color solid;
		background: $primary-color;
		&:hover {
			background: transparent;
			color: $primary-color;
		}
	}
	&__outlineDark {
		color: $text-gray;
		border: 1px transparent solid;
		&:hover {
			border: 1px $text-gray solid;
		}
	}
	&__outlinePrimary {
		color: $primary-color;
		border: 1px $primary-color solid;
		&:hover {
			background: #e9e9e9;
			border: 1px $text-gray solid;
		}
	}
}
