.dishes {
	overflow-x: hidden;
	padding-top: 100px;
	padding-bottom: 120px;
	border-bottom: $divider;
	&_title {
		padding: 0px 0px 80px;
		text-align: center;
		font-weight: 600;
		font-size: 45px;
		color: #323142;
	}

	&_list {
		margin-bottom: 65px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: space-between;
		align-items: center;
		gap: 25px;
	}
}
.dishes-card {
	position: relative;
	padding: 17px;
	position: relative;
	box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
	background: #fff;
	overflow: hidden;
	border-radius: 30px;
	flex: 0 1 33%;
	transition: $transitionAll;
	&:hover {
		transform: scale(1.05);
	}
	&_top {
		& img {
			width: 100%;
		}
	}

	&_middle {
		margin-bottom: 8px;
	}

	&_title {
		margin-top: 8px;
		font-family: $poppins;
		font-weight: 600;
		font-size: 23px;
		color: #323142;
	}

	&_info {
		margin-top: 15px;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&_time {
		font-weight: 400;
		font-size: 19px;
		color: #8e97a6;
	}

	&_rating {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&_rating-num {
		font-weight: 400;
		font-size: 19px;
		color: #8e97a6;
	}
	&_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&_button {
		cursor: pointer;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #323142;
		border-radius: 10px;
	}
	&_favorite-btn {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}
.dollars {
	font-weight: 700;
	font-size: 25px;
	color: #323142;
}
.cents {
	font-size: 18px;
	color: #8e97a6;
}

@media (max-width: $md) {
	.dishes {
		&_list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.dishes-card {
		flex: 0 0 20%;
		&_title {
			font-size: 20px;
		}
	}
}
@media (max-width: $sm) {
	.dishes {
		padding-top: 50px;
		padding-bottom: 60px;
		&_title {
			padding-bottom: 40px;
			font-size: 35px;
		}
		&_list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.dishes-card {
		flex: 0 0 20%;
		&_title {
			font-size: 20px;
		}
	}
}
