// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Переменные
@import './vars.scss';

// Компоненты
@import './components/layout/header/header';
@import './components/layout/footer/footer.scss';
@import './components/UI/button/button.scss';
@import './components/home/heroSection/heroSection.scss';
@import './components/home/featuresSection/featuresSection.scss';
@import './components/home/appSection/appSection.scss';
@import './components/home/restaurantsSection/resturansSection.scss';
@import './components/UI/loader/loader.scss';
@import './components/UI/badge/badge.scss';
@import './components/home/dishesSection/dishes.scss';
@import './components/home/controlSection/controlSection.scss';
@import './components/home/reviewsSection/reviewsSection.scss';
@import './components/home/saleSection/saleSection.scss';
@import './components/modals/modal.scss';

* {
	box-sizing: border-box;
}
body {
	background: #f9f9f9;
	font-family: $inter;
}
.hidden {
	overflow: hidden;
}
main {
	padding-top: 86px;
}
@media (max-width: 460px) {
	main {
		padding-top: 74px;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
button {
	border: none;
	background: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	font-family: $poppins;
	font-weight: 600;
	letter-spacing: -0.04em;
	color: #201f1f;
}
.text-primary {
	color: $primary-color;
}
.view-all {
	display: flex;
	justify-content: flex-end;
	font-family: $poppins;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: -0.01em;
	color: #acadb9;
	& a {
		color: #acadb9;
		&:hover {
			color: #81828d;
		}
	}
}
