// breakpoints
$xs: 375px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1366px;
$max: 1920px;

// font-family
$inter: 'Inter', sans-serif;
$manrope: 'Manrope', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

// colors
$primary-color: #6c5fbc;
$text-white: #ffffff;
$text-dark: #201f1f;
$text-gray: #606060;

$divider: 2px solid #cbcbcb;

$transitionAll: all 0.2s ease-in-out;
